@model EmployeeMVC.Models.SignOutViewModel

<h2>Logout</h2>
<p>Logged out user: @Model.UserName</p>
<p>@Model.LogoutMessage</p>

<div>
    <p>Thank you for using our application. We hope to see you again soon!</p>
    <a href="/">Back to Home</a>
</div>

